:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --activity-color: #2196f3;
  --white-text-color: #ffffff;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
}

body {
  color: var(--primary-text-color);
  background-color: rgba(255, 255, 255, 1);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}


h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  padding: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.hite-title {
  visibility: hidden;
}
/* Хедер */
.header-container {
  display: flex;
}
.header{
  border-bottom: 1px solid #ECECEC;
  
}
/*Логотип*/
.logo {
  display: block;
  color: var(--activation-color);
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  padding-top: 24px;
  margin-right: 93px;
  /* Якщо роблю padding-top: 24 то лого пидскакує */
}
.logo-part {
  color: var(--activity-color);
}
.logo-part-footer {
  color: rgba(255, 255, 255, 1);
}
.logo-footer {
  display: block;
  color: var(--activity-color);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  text-decoration: none;
  line-height: 1.19;
  margin-bottom: 20px;
}
/*Меню навігaції*/
.list {
  margin-right: auto;
  list-style-type: none;
  text-decoration: none;
  display: flex;
  gap: 50px;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.list-item {
  display: block;
  font-weight: 500;
  list-style-type: none;
  text-decoration: none;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
}
.current {
  color: var(--activity-color);
}
.list-item:hover {
  color: var(--activity-color);
}
.main-nav {
  display: flex;
}
.nav {
  margin-right: auto;
}
/*Контактна информація*/
.link {
  display: block;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  list-style-type: none;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-text-color);
}
.link:hover {
  color: var(--activity-color);
}
.link-contacts {
  display: flex;
  list-style-type: none;
  gap: 50px;
  margin-left: auto;
  align-items: center;
}
.hero {
  background-color: rgba(47, 48, 58, 1);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.section{
  display: block;
  padding-top: 94px;
  padding-bottom: 94px;
}
.section.work {
  padding-top: 0;
  padding-bottom: 0;
}

/* Слоган*/
.slogan {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  color: var(--white-text-color);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
}
/* Контейнер */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Кнопка*/
.btn {
  display: flex;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  color: var(--white-text-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  border: 1px solid transparent;
  min-width: 216px;
  padding: 10px 32px;
}

.section-feature .section-how {
  background-color: var(--secondary-background-color);
}

.list-feature {
  list-style-type: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}
/*Переваги*/
.feature {
  font-weight: 700;
  line-height: 1.17;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
padding-bottom: 10px;
  color: var(--primary-text-color);
}
.feature-text {
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  color: var(--secondary-text-color);
}
.feature-list-item {
  min-width: 270px;
  height: 98px;
}
/* Чим ми займаємось*/
.list-how {
  list-style-type: none;
  display: flex;
  gap: 30px;
  padding: 0;
  margin-bottom: 94px;
}
.caption {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;


  color: var(--primary-text-color);
}
/* Наша команда*/

.team {
  background-color: var(--secondary-background-color);
  padding-bottom: 94px;
}
.list-team {
  list-style-type: none;
  display: flex;
  gap: 30px;
  padding: 0;

  background-color: var(--secondary-background-color);
  
}
.name-teammate {
  
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.16;

  margin-bottom: 10px;
}
.image-team{
  margin-bottom: 30px;
}
.job-title {
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.16;
  padding-bottom: 30px;
}
.teammate {
  background: var(--primary-background-color);
  width: 270px;
  height: 368px;

  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  
}
/* Footer*/
.footer {
  background-color: rgba(47, 48, 58, 1);
  padding-top: 60px;
  padding-bottom: 60px;
}
.address-item {
  list-style-type: none;
  padding: 0;
}
.adress-list {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
  text-decoration: none;
}
.color-adress {
  margin-bottom: 9px;
  font-style: normal;
  width: 231px;
  height: 21px;
  left: 215px;
  top: 2205px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
}
.adress-contact {
  display: block;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  margin-bottom: 9px;
}
/* CSS HW 2*/
/* Кнопки*/

.btn-list {
  list-style-type: none;
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}
.btn-list .btn2 {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border: 1px solid transparent;
  background: #f5f4fa;
  border-radius: 4px;
  font-style: normal;
  padding: 6px 22px;
}

.btn-list .btn2:hover,
.btn-list .btn2:focus {
  color: var(--white-text-color);
  background-color: var(--activity-color);
}
.btn2:hover {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
}
/* Проекти*/

.project-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  gap: 30px;
  margin-bottom: 0;
}
.cards-item {
  background: var(--primary-background-color);
  border: 1px solid #eeeeee;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}
.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  text-decoration: none;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}
.project-item {
  text-decoration: none;
}
.project-type {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
